<div class=""  data-aos="fade">
    <div class="container-fluid">
      
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="row mb-5 site-section">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center">FAQs</h2>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-12 ml-auto">
              <h4 class="text-black font-weight-light mb-2">Q : How much is the retainer fee to book you for a Mini/Full session?</h4>
              <p>A : The retainer fee is 10% of the session price and is non-refundable.</p>
              <h4 class="text-black font-weight-light mb-2">Q : How much is the retainer fee to book you for a Wedding?</h4>
              <p>A : The retainer fee is 20% of the package price and is non-refundable.</p>
              <h4 class="text-black font-weight-light mb-2">Q : When do we pay you the remaining amount?</h4>
              <p>A : You can pay us the remaining amount on/after the day of the shoot , but before we hand over all the deliverables.</p>
              <h4 class="text-black font-weight-light mb-2">Q : What is the turn around time to get pictures for Mini/Full session?</h4>
              <p>A : Mini/Full session pictures are ready within 5-7 days.</p>
              <h4 class="text-black font-weight-light mb-2">Q : What is the turn around time for Wedding pictures/video?</h4>
              <p>A : Wedding pictures/video are usually ready within 6-8 weeks.</p>
              <h4 class="text-black font-weight-light mb-2">Q : How do we get the photographs?</h4>
              <p>A : We upload the edited photographs over Google drive and will share you the link. You can view/download the photographs from there. You will have the Print rights.</p>
              <h4 class="text-black font-weight-light mb-2">Q : Do you provide prints?</h4>
              <p>A : No. We provide only digital images. We do not do prints.</p>
              <h4 class="text-black font-weight-light mb-2">Q : Can we have or see all of the unedited/raw photos you took?</h4>
              <p>A : No. We provide only edited digital photographs.</p>
              <h4 class="text-black font-weight-light mb-2">Q : What if we cancel/reschedule our Wedding?</h4>
              <p>A : For cancellation the retainer fee is non-refundable as chances are that we might have turned down other clients for that date. However if you are rescheduling your wedding to a later date get in touch with us ASAP so that we can still have the chance to work with you.</p>
              <h4 class="text-black font-weight-light mb-2">Q : What is your photography style?</h4>
              <p>A : We love taking candid shots. We do also take posed shots and group/family pictures. Our editing style is mainly vibrant. But we can also edit in dark & moody and light & airy style for you (upon request).</p>
              <h4 class="text-black font-weight-light mb-2">Q : What all equipments do you use?</h4>
              <p>A : We use Sony A7iii with Tamron 28-75 2.8 and Sony A6600 with Tamron 70-180 2.8.</p>
              <h4 class="text-black font-weight-light mb-2">Q : Will you post our photos in your Website/Facebook page?</h4>
              <p>A : Your privacy is very important to us. We will never share your personal information with other clients. However the photographs are very close to our heart and is required for the advertisement and marketing of our business. So we might use the images.</p>
            </div>
          </div>

          <!-- <div class="row mb-5">
            <div class="col-md-7">
              <img src="/assets/images/img_2.jpg" alt="Images" class="img-fluid">
            </div>
            <div class="col-md-4 ml-auto">
              <h3>Our Mission</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vel tenetur explicabo necessitatibus, ad soluta consectetur illo qui voluptatem. Quis soluta maiores eum. Iste modi voluptatum in repudiandae fugiat suscipit dolorum harum, porro voluptate quis? Alias repudiandae dicta doloremque voluptates soluta repellendus, unde laborum quo nam, ullam facere voluptatem similique.</p>
            </div>
          </div> -->

         
          <!-- <div class="row site-section">
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <img src="/assets/images/person_1.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
              <h2 class="text-black font-weight-light mb-4">Jean Smith</h2>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <img src="/assets/images/person_2.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
              <h2 class="text-black font-weight-light mb-4">Claire Smith</h2>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <img src="/assets/images/person_4.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
              <h2 class="text-black font-weight-light mb-4">John Smith</h2>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
          </div> -->
        </div>
    
      </div>
    </div>
  </div>