<div class=""  data-aos="fade">
    <div class="container-fluid">
      
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="row mb-5 site-section">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center">About Us</h2>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-7">
              <img src="/assets/albums/about/we1.jpg" alt="Images" class="img-fluid"> 
            </div>
            <div class="col-md-4 ml-auto">              
              <p class="font-weight-bold">When you love what you do, it's hard not to spend your days dreaming up new ideas and refining your vision. 
                We are a husband wife duo and love is our passion. 
                We love working together and that is what has drawn us here. 
                We love to meet new people and capture their moments in photo and video, so that they will replay those memories whenever they see them again.</p>
            </div>
          </div>

         
          <!-- <div class="row site-section">
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <img src="/assets/images/person_1.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
              <h2 class="text-black font-weight-light mb-4">Jean Smith</h2>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <img src="/assets/images/person_2.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
              <h2 class="text-black font-weight-light mb-4">Claire Smith</h2>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <img src="/assets/images/person_4.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
              <h2 class="text-black font-weight-light mb-4">John Smith</h2>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
          </div> -->

          <div class="row mb-5">
            <div class="col-md-12 ml-auto">
              <h3>Reviews</h3>
              <div class="bg-light mt-4">
                <div class="h-100 pt-4 pl-4 pr-4 text-left site-block-feature-7">                  
                  <p>"Very nice! excellent communication and fast replies. This was my first time ever doing a photoshoot and didn't know what to expect was very pleased with the results and loved how my package was ready so promptly! very professional will definitely use again in the future."</p>                  
                </div>
                <div class="h-100 pl-4 pr-4 pb-4 text-right site-block-feature-7">                  
                  <a href="https://www.facebook.com/pg/replaythememories/reviews/" target="_blank" class="pl-0 pr-3 font-weight-bold">-- Jose Y Vero</a>                      
                </div>
              </div>
              <div class="bg-light mt-4">
                <div class="h-100 pt-4 pl-4 pr-4 text-left site-block-feature-7">                  
                  <p>"They were absolutely great! We recently had our wedding on June 6, 2020 and had our original videographer back out due to an emergency.

                    Replay the Memories stepped right in and filled the spot in a professional and proficient manner.
                    
                    They were great with redirecting us, the family, and our friends while capturing the essence of who we are genuinely. We love them and would book them again for our vow renewals!"</p>                  
                </div>
                <div class="h-100 pl-4 pr-4 pb-4 text-right site-block-feature-7">                  
                  <a href="https://www.facebook.com/pg/replaythememories/reviews/" target="_blank" class="pl-0 pr-3 font-weight-bold">-- Maria Linh Nyugen</a>                      
                </div>
              </div>
              <div class="bg-light mt-4">
                <div class="h-100 pt-4 pl-4 pr-4 text-left site-block-feature-7">                  
                  <p>"I first met Antara and Debanjan when I was looking to book a photographer for my wedding events. Right away I knew I would enjoy working with them. Their friendliness was boundless and energy/excitement palpable. We hired them to photograph three events for our wedding and they did not disappoint! They had several prep meetings with us before to ensure they were able incorporate our vision, went to the locations to understand lighting and best spots for shots, etc. The day of, they were prompt and got pictures from every angle plus added their artistic touch.
                    All of the photos came out beyond gorgeous. We are thrilled and will definitely use them again in the future. I highly recommend hiring them! Please feel free to message me if you have any specific questions."</p>                  
                </div>
                <div class="h-100 pl-4 pr-4 pb-4 text-right site-block-feature-7">                  
                  <a href="https://www.facebook.com/pg/replaythememories/reviews/" target="_blank" class="pl-0 pr-3 font-weight-bold">-- Neha Sangoi</a>                      
                </div>
              </div>
              <div class="bg-light mt-4">
                <div class="h-100 pt-4 pl-4 pr-4 text-left site-block-feature-7">                  
                  <p>"We have worked with Deba and Tara three times and every single time they have been a pleasure. We first contacted them to take our engagement photos and were super impressed so we hired them to capture our wedding. They were able to capture all of our joy and smiles. We recently hired them to take our family photos and once again, they did not fail us! If we could give them ten stars, we definitely would. Thanks again, guys!"</p>                  
                </div>
                <div class="h-100 pl-4 pr-4 pb-4 text-right site-block-feature-7">                  
                  <a href="https://www.facebook.com/pg/replaythememories/reviews/" target="_blank" class="pl-0 pr-3 font-weight-bold">-- Nahuy white</a>                      
                </div>
              </div>
              <div class="bg-light mt-4">
                <div class="h-100 pt-4 pl-4 pr-4 text-left site-block-feature-7">  
                  <a href="https://www.facebook.com/pg/replaythememories/reviews/" target="_blank" class="pl-0 pr-3"><h2 class="font-weight-light mb-4">Check out more reviews..</h2></a>                      
                </div>
              </div>
            </div>
          </div>

        </div>
    
      </div>
    </div>
  </div>