<div class="site-section"  data-aos="fade">
    <div class="container-fluid">
      
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="row mb-5">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center">Our Pricing</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" #mini [ngClass]="{'selected-price': miniSelected}">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-camera display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Mini session</h3>
                <p>Grab our quick minis of 15-20 minutes. Minis are so pocket friendly yet a great way to have some awesome photographs taken. Plus they are so easy to fit into your busy schedules.</p>
                <p><strong class="font-weight-bold text-primary">Starting at $75</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" #full [ngClass]="{'selected-price': fullSelected}">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-picture display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Full session</h3>
                <p>Less hurrying and ample time is always a safe call. We recommend our full sessions of 1hour to families, maternity couples and engaged couples. This gives us more time to capture those sweet and special candid moments.</p>
                <p><strong class="font-weight-bold text-primary">Starting at $150</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" #event [ngClass]="{'selected-price': eventSelected}">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-sheep display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Event</h3>
                <p>We would love to be a part of your celebration. Be it birthdays, baby showers, house warming parties, we have got you covered. Minimum booking should be of 2 hours.</p>
                <p><strong class="font-weight-bold text-primary">Starting at $150</strong></p>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" #newborn [ngClass]="{'selected-price': newbornSelected}">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7" >
                <span class="icon flaticon-frame display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Newborn</h3>
                <p>Newborns are absolutely adorable and we cannot wait to frame this little bundle of joy. The happiness of the parents to have this new life in their hands is an emotion to another level.</p>
                <p><strong class="font-weight-bold text-primary">Starting at $200</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" #wedding [ngClass]="{'selected-price': weddingPhotoSelected}">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7 ">
                <span class="icon flaticon-eiffel-tower display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Wedding Photography</h3>
                <p>Love is the strongest force in the universe. It’s amazing. The wedding is just the day to show that love off. We wanna share that special day with you!</p>
                <p><strong class="font-weight-bold text-primary">Starting at $600</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" #video [ngClass]="{'selected-price': videoSelected}">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-video-play display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Video Editing</h3>
                <p>Filming is something we developed an interest while our vacations. We love travelling, exploring new cultures and that quest of documenting our journeys into nature made us come up with this video filming.</p>
                <p><strong class="font-weight-bold text-primary">Starting at $600</strong></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>