<div class="site-section"  data-aos="fade">
    <div class="container-fluid">
      
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="row mb-5">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center">Our Services</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-camera display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Family & Friends</h3>
                <p>Families deserve to be documented, too!</p>
                <p (click)="miniClicked()"><strong class="font-weight-bold text-primary">Mini session</strong></p>
                <p (click)="fullClicked()"><strong class="font-weight-bold text-primary">Full session</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-picture display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Maternity</h3>
                <p>We love to pamper our would-be mamas.</p>
                <p (click)="miniClicked()"><strong class="font-weight-bold text-primary">Mini session</strong></p>
                <p (click)="fullClicked()"><strong class="font-weight-bold text-primary">Full session</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-sheep display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Newborn</h3>
                <p>The arrival of a little new life just has to be framed for forever.</p>
                <p (click)="newbornClicked()"><strong class="font-weight-bold text-primary">Full session</strong></p>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-frame display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Proposal</h3>
                <p>Surprise proposals are so much fun.</p>
                <p (click)="fullClicked()"><strong class="font-weight-bold text-primary">Full session</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-eiffel-tower display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Engagement</h3>
                <p>Just got engaged? Or looking to send out your 'Save The Date' cards? Let the romance be in the air while we take your cozy shots.</p>
                <p (click)="fullClicked()"><strong class="font-weight-bold text-primary">Full session</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-video-play display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Wedding</h3>
                <p>Weddings are just so amazing. To witness the union of two hearts and being a part of their happiness just makes our day.</p>
                <p (click)="weddingPhotoClicked()"><strong class="font-weight-bold text-primary">Wedding photography</strong></p>
                <p (click)="videoClicked()"><strong class="font-weight-bold text-primary">Video</strong></p>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
                <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                  <span class="icon flaticon-video-play display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Portraits</h3>
                  <p>Treat yourself once in a while with some beautiful potraits.</p>
                  <p (click)="miniClicked()"><strong class="font-weight-bold text-primary">Mini session</strong></p>
                  <p (click)="fullClicked()"><strong class="font-weight-bold text-primary">Full session</strong></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
                <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                  <span class="icon flaticon-video-play display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Baby & Kids</h3>
                  <p>One of my personal favourites. Babies grow up so fast in their initial years. Have your milestone session for older babies.</p>
                  <p (click)="miniClicked()"><strong class="font-weight-bold text-primary">Mini session</strong></p>
                  <p (click)="fullClicked()"><strong class="font-weight-bold text-primary">Full session</strong></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
                <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                  <span class="icon flaticon-video-play display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Graduation & Senior</h3>
                  <p>I love capturing the energy of young graduates! These pictures will be cherished for years to come and shown to all of the family.</p>
                  <p (click)="miniClicked()"><strong class="font-weight-bold text-primary">Mini session</strong></p>
                  <p (click)="fullClicked()"><strong class="font-weight-bold text-primary">Full session</strong></p>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
                <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                  <span class="icon flaticon-video-play display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Birthday</h3>
                  <p>First birthdays are so so special. Celebrate with your loved ones and let us photograph your party.</p>
                  <p (click)="eventClicked()"><strong class="font-weight-bold text-primary">Event</strong></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
                <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                  <span class="icon flaticon-video-play display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Gender reveal</h3>
                  <p>Are you ready to announce your pregnancy? Or better.. are you ready to know if it's a boy or a girl? Lets get the fun rolling.</p>
                  <p (click)="miniClicked()"><strong class="font-weight-bold text-primary">Mini session</strong></p>
                  <p (click)="fullClicked()"><strong class="font-weight-bold text-primary">Full session</strong></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
                <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                  <span class="icon flaticon-video-play display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Food</h3>
                  <p>The food business is just so huge and diverse. Restaurent owners to homecooks if you are thinking to market your business, please start with pictures of your delicious food.</p>
                  <p (click)="miniClicked()"><strong class="font-weight-bold text-primary">Mini session</strong></p>
                  <p (click)="fullClicked()"><strong class="font-weight-bold text-primary">Full session</strong></p>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>